<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PPMYNTRA>/a>
          </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home<span class=""
        <li><a href="/movie">Movies</a></li>
        <li><a href="/sports">sports</a></li>
        <li><a href="/politics">politics</a></li> 
  </body>
</html>
